@model IEnumerable<Core.Models.AppUser>

@{
    ViewData["Title"] = "All Users";
}

<h1>All Users</h1>
<a asp-action="Create" class="btn btn-primary">Create New</a>


<table class="content-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="clickable-row" data-href="@Url.Action("Edit", "Users", new { id = item.Id })" style="cursor: pointer;">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
            </tr>
        }
    </tbody>
</table>
